= form_for group do |f|
  - if group.errors.any?
    .chat-group-form__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label :名前, class: 'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :name, class: 'chat__group_name chat-group-form__input', placeholder: '利用者様の名前を入力してください'
    .chat-group-form__field--left
      = f.label :年齢, class: 'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :age, class: 'chat__group_name chat-group-form__input', placeholder: '利用者様の年齢を入力してください'
    .chat-group-form__field--left
      = f.label :身長, class: 'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :height, class: 'chat__group_name chat-group-form__input', placeholder: '利用者様の身長を入力してください'
    .chat-group-form__field--left
      = f.label :体重, class: 'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :weight, class: 'chat__group_name chat-group-form__input', placeholder: '利用者様の体重を入力してください'
  .chat-group-form__field.clearfix
    / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{:for => "chat_group_チャットメンバー"} メンバー
    .chat-group-form__field--right
      / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
      = f.collection_check_boxes :user_ids, User.all, :id, :name
      / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit class: 'chat-group-form__action-btn'